{%extends 'base.html'%}
{% load static %}

{%block contenido%}
<!--	<h1>Noticias</h1>
		<br>
		<h2>Noticia numero:{{codigo}}</h2>	--->
			
    	<h2 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"   >{{object.titulo}}</h2>
    	
    	{% if object.autor %}
        	<p style="padding-left: 10px;">AUTOR: {{ object.autor }}</p>
    	{% endif %}
    	<p style="padding-left: 10px;" >CUERPO: {{ object.cuerpo }}</p>


    	{% if object.imagen %}
        	<img src="{{ object.imagen.url }}"style="padding-left: 10px;" width="500px" height="500px">
    	{% else %}
        	<p style="padding-left: 10px;" >NO TIENE IMAGEN </p>
    	{% endif %}
		<p style="padding-left: 10px;"> CATEGORIA:{{ object.categoria.nombre }}</p> 

    <h4 style="padding-left: 10px; font-family: Arial;">Comentarios:</h4><br>
    	{% for x in object.obtener_mis_comentarios %}
        	<b style="padding-left: 10px;">{{x.usuario}}</b>
        	<p style="padding-left: 10px;">{{x.creado}}</p>
        	<p style="padding-left: 10px;">{{x.texto}}</p>  
    	{% endfor %}
    

    	{% if user.is_authenticated %}
        	<form method="POST" action= "{% url 'noticias:agregar_comentario' object.pk %}" style="padding-left: 10px;">{% csrf_token %}
            	<textarea rows="5" cols="50" name="comment" placeholder="Comentar"></textarea>     
            	<button class="btn btn-primary"  type="submit" style="padding-left: 10px; background-color:cornflowerblue; vertical-align:50%;">COMENTAR</button>
		
        	</form>
    
    	{% endif %}



{%endblock contenido%}