{%extends 'base.html'%}
{% load static %}

{%block contenido%}
    <h3>Noticias: </h3>
    
    {% for n in notis%}
        <br>
        <h5>{{n.titulo}}<h5>
        
        <a href="{% url 'noticias:detalle_noticias' n.pk %}">Mas Detalles</a>
        <br>

    {% endfor %}
    <br>
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"method="GET">

    <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
            <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Buscar
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
<br>
  
{%endblock contenido%}

    