{%extends 'base.html'%}
{% load static %}
      {%block contenido%}
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class ="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active">
          <center><img src="../static/img/Fundaciones.jpg" class="d-block w-50" alt="..."></center> 
          </div>
          <div class="carousel-item">
           <center><img src="../static/img/fundacion-y-responsabilidad-social.jpg" class="d-block w-50" alt="..."></center> 
          </div>
          <div class="carousel-item">
          <center><img src="../static/img/las-fundaciones-se-unen-para-lograr-las-metas-de-desarrollo-sustentable.jpg" class="d-block w-50" alt="..."></center> 

      {%endblock contenido%}
   