{% extends 'base.html' %}
{% load static %}

{% block contenido %}
	<br>
	<center><h1>¿Quienes somos?</h1></center>
	<br>
	<p style="text-align: center;">
		La CEBs por estar insertada en los barrios más humildes de la ciudad y en la zona rural, son una instancia misionera de la iglesia más próxima a las personas y hacen más visible la unión entre fe y vida.
		Las CEBs articulan el compromiso cristiano “opción por los pobres”, la lucha por la Justicia Social, los Derechos Humanos, de Género y de nuestros Pueblos Originarios, llevando adelante obras caritativas y solidarias.
	</p>
	<center><img src="{% static 'img/datos_1.jpg' %}"style="width: 600px";></center>
	<p style="text-align: left;padding-left: 5px;">
<br>		
Entre las actividades que realizan, se encuentran: <br>

⦁	Talleres de Derechos humanos <br>
⦁	Talleres sobre Violencia de Género <br> 
⦁	Talleres sobre Adicciones <br>
⦁	Talleres de Emprendimiento <br>
⦁	Huerta Orgánica <br>
⦁	Organizar Fiestas Patronales <br> 
⦁	Charlas sobre inquietudes y problemas de zonas desfavorables para luego llevarlas con la autoridad correspondiente <br>
⦁	Encuentros con los Jóvenes
	</p>
{% endblock contenido %}